@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    background-color: black;
}

#header{


    width: 900px;
    height: 500px;
}

@media screen and (max-width:600px) {
    
#header{

    width:300px;
    margin-left: 80px;
    padding: 50px;
    height: 1000px;
   
}


#listcontainer{

    margin-left:0px;
    margin-top: 20px;
}
}